*{
    box-sizing: border-box;
  }
  
  .main-view {
    font-family: 'Lato', sans-serif;
    background: #82991d;
    width: 100%;
    display: inline-block;
  }
  
  .bg-navColor{
    background: #000;
  }