*{
    box-sizing: border-box;
  }
  
  .main-view {
    font-family: 'Lato', sans-serif;
    background: #408E2F;
    width: 100%;
    display: inline-block;
  }
  
  .bg-navColor{
    background: #1C2D19;
  }