*{
    box-sizing: border-box;
  }
  .registerContainer{
    background: #408E2F;
    width: 100%;
    height: 100vh;
    margin-top: 60px;
  }
  
  .bg-navColor{
    background: #1C2D19;
  }
  
  .registerCard {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    background:white;
    color: #1C2D19;
  }
  
  .registerButton {
    width: 100%;
    display: block;
  }